@charset "UTF-8";
/* CSS Document */

/* Clearfix */

.clearfix:before, .clearfix:after { content: " "; display: table; }

.clearfix:after { clear: both; }

body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.celeb-pic {
  height: 200px;
  width: 200px;
}

.form-twitter-handle, .media-list {
	margin-bottom: 30px;
}

.pull-left {
	margin-bottom:10px;
}

@media (max-width:420px) {
	.media.ng-scope {
		float:left;
		width:100%;
	}

	.media-object {
		margin:0 auto;
	}
	.pull-left img {
		text-align:center;
	}
	.pull-left, .media-body {
		text-align:center;
		width:100%;
	}
}